<center style="padding-top: 20px;">
    <p style="color: white; font-family: quicksand">
        Check us out:
    </p>
    <img src="./github.png" style="height: 40px;" onclick="window.open('https://github.com/Nerdines')">
    <img src="./nerdines/public/discord.png" style="height: 40px;" onclick="window.open('https://discord.com/invite/aXe8X8UMKG')">
    <img src="https://nerdines.github.io/public/mastodon.png" style="height: 40px;" onclick="window.open('https://mas.to/@Nerdines')">
    <img src="https://github.com/Nerdines/nerdines.github.io/tree/main/public/reddit.png" style="height: 40px;" onclick="window.open('https://www.reddit.com/r/Nerdines/')">
    <img src="https://github.com/Nerdines/nerdines.github.io/public/twitter.png" style="height: 40px;" onclick="window.open('https://twitter.com/NerdinesStudio')">

    <p></p>
    <a href = "mailto: contact@nerdines.com"
    style="font-family: quicksand;
        color: white;">
        Contact Us at contact@nerdines.com
    </a>
</center>
