<center style="padding-top: 20px;">
    <p style="color: white; font-family: quicksand">
        Check us out:
    </p>
    <img src="./Nerdines/public/github.png" style="height: 40px;" onclick="window.open('https://github.com/Nerdines')">
    <img src="./nerdines/public/discord.png" style="height: 40px;" onclick="window.open('https://discord.com/invite/aXe8X8UMKG')">
    <img src="./nerdines.github.io/public/mastodon.png" style="height: 40px;" onclick="window.open('https://mas.to/@Nerdines')">
    <img src="../public/reddit.png" style="height: 40px;" onclick="window.open('https://www.reddit.com/r/Nerdines/')">
    <img src="../../public/twitter.png" style="height: 40px;" onclick="window.open('https://twitter.com/NerdinesStudio')">

    <img src="./public/reddit.png" style="height: 40px;" onclick="window.open('https://www.reddit.com/r/Nerdines/')">
    <img src="./../public/reddit.png" style="height: 40px;" onclick="window.open('https://www.reddit.com/r/Nerdines/')">

    <p></p>
    <a href = "mailto: contact@nerdines.com"
    style="font-family: quicksand;
        color: white;">
        Contact Us at contact@nerdines.com
    </a>
</center>
