---
import NerdLayout from '../layouts/layout.astro';
---

<NerdLayout title="Nerdines">
    <div id="text" style="text-align: center;">
        <h2 style="color: white;
        font-size:40px;
        font-family: quicksand;
        margin-bottom: 0;">About Us</h2>

        <p style="color: white;
        font-size:24px;
        font-family: quicksand">
            Nerdines is a small independent game studio
        </p>

        <h2 style="color: white;
        font-size:40px;
        font-family: quicksand;
        margin-bottom: 0;">Our Values</h2>

        <p style="color: white;
        font-size:24px;
        font-family: quicksand">
            don't be a dick
        </p>

        <h2 style="color: white;
        font-size:40px;
        font-family: quicksand;
        margin-bottom: 0;">Meet the Team</h2>

        <p style="color: white;
        font-size:24px;
        font-family: quicksand">
            we exist
        </p>
    </div>
</NerdLayout>