<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Nerdines</title>
        <script src="../components/index.jsx"></script>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
        </style>
    </head>

    <body>
        <div id="header"></div>

        <div id="title">

        </div>
    </body>
</html>