<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Nerdines</title>
        <script src="../components/index.jsx"></script>
    </head>

    <body>
        <div id="title">

        </div>
    </body>
</html>