---
import Default from '../layouts/Default.astro';
const pageTitle = 'Nerdines | Game Development Studio';
---

<Default pageTitle={pageTitle}>
  <div class="text-center text-xl font-semibold"><h2>Website Roadmap</h2></div>
  <div class="">
    <ul class="steps steps-vertical lg:steps-horizontal lg:w-full">
      <li data-content="✓" class="step step-primary font-bold">Make Repo</li>
      <li data-content="!" class="step step-primary font-bold">Home</li>
      <li class="step font-semibold">About</li>
      <li class="step font-semibold">Projects</li>
      <li class="step font-semibold">Contact</li>
      <li class="step font-semibold">Complete</li>
    </ul>
  </div>
  <div class="text-center text-xl font-semibold"><h2>Unnamed Game Project</h2></div>
  <div class="text-center font-semibold"><h4>A bullet hell, horde survival, dungeon crawling game.</h4></div>
  <div class="">
    <ul class="steps steps-vertical lg:steps-horizontal lg:w-full">
      <li data-content="✓" class="step step-primary font-bold">Idea</li>
      <li data-content="!" class="step step-primary font-bold">Design Document</li>
      <li class="step font-semibold">Prototyping</li>
    </ul>
  </div>
</Default>
