---
const { pageTitle } = Astro.props;
---

<head>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="generator" content="Astro.generator" />
  <title>{pageTitle}</title>
</head>
