---
import Header from '../pages/header.astro';
import Footer from '../pages/footer.astro';
---

<html lang="en">
        <head>
            <meta charset="UTF-8">   
            <style>
                @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
            </style>
            <title>Nerdines</title>
        </head>
    
        <body style="color:#2d2d2d">
            <Header />
            <slot />
            <Footer />
        </body>
</html>