---
import Header from '../pages/header.astro';
import Footer from '../pages/footer.astro';
---

<html lang="en">
    <head>
        <meta charset="UTF-8">   
        <Header />
    </head>

    <body>
        <slot />
        <Footer />
    </body>
</html>